@inherits UmbracoViewPage<ThuanTanUmbraco.Models.LoginForm>
@{
    if (Model.IsRunScripts)
    {
        <script type="text/javascript">
            swal("@Model.ResponseHeader", "@Html.Raw(Model.ResponseText)", "@(Model.IsSuccess ? "success" : "error")");
            @if (Model.IsSuccess)
            {
                <text>
                    setTimeout(function() {
                        location.reload();
                    }, 200);
                </text>
            }
        </script>
    }
}
@Html.AntiForgeryToken()
<div class="item">
    @Html.TextBoxFor(x => x.UsernameLogin, new { placeholder = "Email" })
    @Html.ValidationMessageFor(x => x.UsernameLogin)
</div>
<div class="item">
    @Html.PasswordFor(x => x.PasswordLogin, new { placeholder = "Password" })
    @Html.ValidationMessageFor(x => x.PasswordLogin)
</div>
@Html.HiddenFor(x => x.LoginCultureLcid)
<div class="login__loading--div"></div>