@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    @Html.Partial("~/Views/Partials/Layout/_Share.cshtml")
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/topJS")
</head>
<body>
    <div id="wrapper">
        <div id="wrapper-in">
            @Html.Partial("~/Views/Partials/Layout/_Header.cshtml")
            <div id="mobile-overlay"></div>
            <div id="main-content">
                @RenderBody()
            </div>
            @Html.Partial("~/Views/Partials/Layout/_Footer.cshtml")
        </div>
        <div id="menumobile" class="mobile-panel mobilep-left">
            <div class="menu-in">
                <div class="menu-mobile">
                    <div class="logo">
                        <a id="A2" href="/">
                            <img class="img-fluid" src="/images/logo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="search-form" style="margin-bottom: 5px">
                        <form action="/Search" method="get">
                            <input type="text" name="keyword" value="" placeholder="Tìm kiếm" />
                            <input type="submit" value="" />
                        </form>
                    </div>
                    <ul id="menuMobiles" class="menu-nav"></ul>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("modal", false)
    <a href="#" class="scroll-to-top"></a>
    @Scripts.Render("~/bundles/botJS")
</body>
</html>